<footer>
	<div class="footer">
		<div class="social">
			<a class="github" href="https://github.com/Psyko44?tab=repositories" target="_blank">

				<p>Github</p>
				<i class="icone fa-brands fa-github" style="color: #919191;font-size: 80px;"></i>

			</a>
			<a class="linkedin" href="https://www.linkedin.com/in/danny-thomas-53b743130/" target="_blank">

				<p>Linkedin</p>
				<i class="icone fa-brands fa-linkedin" style="color: #919191;font-size: 80px;"></i>


			</a>
		</div>
		<div class="mail text-black">
			<p>
				<a href="{{path('app_contact')}}">Me contacter !!</a><img src="{{asset("assets/img/mail.svg")}}" width="32px" alt="">
			</p>

		</div>
		<div class="rgpdFooter">
			<a href="{{path('app_rgpd')}}">Mention Legale</a>
			<p>© Copyright 2023, psyko-dev. All Rights Reserved.</p>


		</div>
	</div>

</footer>
