{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}


	<header class="masthead d-flex align-items-center">
		<div class="container px-4 px-lg-5 text-center">
			<h1 class="mb-1">Psyko Portfolio</h1>
			<h3 class="mb-5 text-success">


				<span class="em" id="typed-text"></span>
				<span class="cursor">|</span>


			</h3>
			<button id="enterButton" class="btn btn-success  btn-xl glitch">ENTRER</button>
			<div id="glitch-effect"></div>


		</div>
	</header>


{% endblock %}
