<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
		<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>


		<title>Document</title>
	</head>
	<body>
		<div class="error403"></body>

		<div class="container d-flex flex-column mr-5">
			<div class="home">
				<a href="{{path('app_home')}}">
					<i class="fa-solid fa-rotate-left" style="color: #10e956; font-size: 4rem"></i>

				</a>
				<h2>Acceuil</h2>
			</div>

		</div>


	</body>
</html>
